.friend_list {
  width: 325px;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */

  -webkit-box-shadow: 5px 5px 15px 7px rgba(199, 199, 199, 0.86);
  -moz-box-shadow: 5px 5px 15px 7px rgba(199, 199, 199, 0.86);
  box-shadow: 5px 5px 15px 7px rgba(199, 199, 199, 0.86);

  list-style-type: none;

  margin-bottom: 15px;
}

.status {
  margin-left: 15px;
  padding: 10px;
  display: inline-block;
  border-radius: 50%;
}

.avatar {
  background-color: rgb(238, 238, 237);
  border-radius: 5px;
  margin-left: 15px;
  margin: 7px 15px;
  height: 100%;
  width: 90px;
}

.name {
  font-size: 24px;
  margin: 0;
}
