tr {
  height: 50px;
  text-align: center;
}
th {
  min-width: 200px;
  max-width: 290px;
}
.transaction_history {
  max-width: 870px;
  color: #9c9da1;
}

.table_head {
  background-color: #00bcd5;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  color: #fff;
}

.table_body {
  font-size: 13px;
}

.type {
  text-transform: capitalize;
}
